<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h2>To do list Registration</h2>
<form th:action="@{/signup}" method="post" th:object="${user}">
    <label>Username</label><br>
    <input th:type="text" th:field="*{username}" name="username"><br>
    <label>Password</label><br>
    <input th:type="password" th:field="*{password}" name="password"><br>
    <button th:type="submit">Registration</button>
    <a href="/todo">Если есть аккаунт, Войти?</a>
</form>
</body>
</html>