<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To Do</title>
</head>
<body>

<a href="/logout">logout</a>
<h2 th:text="'Hello, ' + ${username}"></h2>
<h3>To Do List</h3>

<form th:action="@{/todo/add}" method="post" th:object="${todo}">
    <input th:type="text" th:field="*{description}" name="description">
    <button th:type="submit">Save</button>
</form>

<table>
    <thead>
        <tr><th>#</th> <th>Description</th> <th>Status</th> <th>Actions</th></tr>
    </thead>
    <tbody>
        <tr th:each="item, state : ${toDoList}">
            <td th:text="${state.count}"></td>
            <td th:text="${item.description}"></td>
            <td th:text="${item.status ? 'Finished' : 'In progress'}"></td>
            <td>
                <form th:action="'/todo/delete/' + ${item.id}" method="post"><button th:type="submit">Delete</button></form>
                <form th:action="'/todo/status/' + ${item.id}" method="post"><button th:type="submit">Finished</button></form>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>